<!DOCTYPE html>
<html>

{% include head.html %}

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVCN6MQ"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/e9b0198f8164edd128e630596/3cce978df54c0a6ae95e1f994.js");</script>

	<script>
		fbq('track', 'ViewContent',
		{
		content_name: {제목},
		});
 </script>

	<div id="wrap">

	  	<!-- Navigation -->
	  	{% include menu.html %}

    <!-- Icon menu -->
	  <a {% if site.reverse == true %}id="nav-menu-left"{% else %}id="nav-menu"{% endif %}>
	  	<div id="menu"></div>
	  </a>

      <!-- Header -->
      {% if site.custom_header == true %}
        {% include header-custom.html %}
      {% else %}
        {% include header.html %}
      {% endif %}

    <!-- Main content -->
	  <div id="container">

		<main>

			{{ content }}



	  </main>

		  <!-- Pagination links -->
      {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page == 1 %}
            <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
          {% elsif paginator.previous_page%}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
          {% else %}
            <span class="page-item">&laquo;</span>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <span class="page-item">{{ page }}</span>
            {% elsif page == 1 %}
              <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="page-item">{{ page }}</a>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&raquo;</a>
          {% else %}
            <span class="page-item">&raquo;</span>
          {% endif %}
        </div>
        {% endif %}

	  </div>

	    <!-- Footer -->
	    {% include footer.html %}

	    <!-- Script -->
      {% include script.html %}

	</div>
</body>
</html>
